.JobCard {
  border-radius: 3px;
  padding: 15px;
  margin: 12px auto;
  background-color: #fff;
  color: #000;  
}

.JobCard h2 {
  margin-bottom: 0px;
}

.JobCard button {
  padding: 8px;
  color: #fff;
  border: none;
  font-size: 14px;
}