.loginform {
  margin: 40px auto;
  text-align: center;
  border-radius: 3px;
  max-width: 400px;
  padding: 40px 0;
  background-color: rgba(30, 30, 30, .8);
  color: #fff;
  overflow-y: hidden;
}

.toggler h2 {
  display: inline-block;
  margin-left: 5px;
}

.loginform input {
  padding: 4px;
  display: block;
  margin: auto;
}

.loginform input:enabled {
  outline: none;
}

.loginform button {
  padding: 8px;
  background-color: skyblue;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}