.profile {
  margin: 40px auto;
  text-align: center;
  border-radius: 3px;
  max-width: 400px;
  padding: 40px 0;
  background-color: rgba(30, 30, 30, .8);
  color: #fff;
}

.profile  input {
  padding: 4px;
  display: block;
  margin: auto;
}

.profile input:enabled {
  outline: none;
}

.profile button {
  padding: 8px;
  background-color: skyblue;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}